h1, h3, h2{
    margin: 0%;
}
.container{
    width: 970px;
    height: 1600px;
    background-color:#f6f6f6;
    border-left: 25px;
    border-right: 25px;
    border-bottom: 15px;
  
}
.container-text{
    margin: 0px;
    padding: 4px;
    border-top: 5px;
    border-right: 5px;
    width: 930px;
    height: 50px;
    margin-top: 10px;
    margin-left: 15px;
    display: inline-block;
}
.text-1{
   display: inline-block;
   height: 45px;
   align-items: center;
   margin-left: 15px;
   margin-top: 10px;

    }
.text-2{ 
    margin-left: 365px;
    display:inline-block;
}
.container-sub{
    background-color: #221116;
    height: 600px;
    width: 940px;
    padding: 15px;
    display: inline-block;
}
.box-img-profile{
    background-color:#c0c0c0;
    width: 400px;
    height: 250px;
    display: inline-block;
    padding: 5px;
}
   