h1, h3, h2{
    margin: 0%;
}
.container{
    width: 993px;
    background-color:#f6f6f6;
    border-left: 25px;
    border-right: 25px;
    border-bottom: 15px;
  
}
.container-text{
    margin: 0px;
    padding: 4px;
    border-top: 5px;
    border-right: 5px;
    width: 930px;
    height: 50px;
    margin-top: 10px;
    margin-left: 15px;
    display: inline-block;
 
}
.text-1{
   display: inline-block;
   height: 45px;
   align-items: center;
   margin-left: 15px;
   margin-top: 10px;

    }
.text-2{ 
    margin-left: 365px;
    display:inline-block;
}
.container-sub{
    background-color:#6f5964;
    width: 940px;
    padding: 20px 15px 20px 38px ;
    display: inline-block;
}
.box-img-profile{
    background-color:#c0c0c0;
    width: 400px;
    height: 250px;
    display: inline-block;
    padding: 5px;
}
.about-wrapper{
    width: 500px;
    display: inline-block;
    vertical-align: top;
}
.box-about{
    background-color: #ece4eb;
    height: 260px;
    display: inline-block;  
    vertical-align: top;
    margin-left: 20px;

}
.head-box-about{
    background-color:#8d8b98;
    display: inline-block;
    width: 100%;
    height: 40px; 
}
.head-box-about h2{
    margin-left: 10px;
    margin-top: 5px;
    color:#feffff;
    font-family:'Times New Roman', Times, serif;    
}
.box-about p, a{
    margin-left:10px;    
    margin-right: 10px;
    color: #6d6161;
    
}
.box-portafolios{    
    width: 284px;
    background-color:#eae1e9;
    margin-top: 25px;
    margin-right: 23px;
    padding-bottom: 20px;
    display: inline-block;
    vertical-align: top;
    border: 1px #8f7d89 solid  ;
}
    .box-cabecera{
        height: 40px;
        background-color:#9898a1;
        padding-top: 5px;
        padding-left: 10px;
    }
    .box-cabecera h2{
        color:#ffffff;    
    }
    .box-text{   
        color:#e7dee7;
        margin: 5px 5px 30px ;
        text-align: justify ;
    }
    .box-text p{
        margin:0px 10px 20px 10px;
        color:#7f786d;
        margin-top: 5px;
    }
    .box-tech{
        background-color:#9898a1;
        height: 30px;
        padding-top: 8px;
        padding-left: 10px;
    }
    .box-tech h3{
        color:#ffffff;   

    }
    .box-img-tech{
        padding: 5px;
        margin-left: 10px;
        display:inline-block;
        align-items: center;
    }
    .box-img-tech img{
        margin-right: 8px;
        margin-bottom: 0px;
        
       
    }
    .box-img-tech button{
        background-color:#407d61;
        margin-left: 25px;
        
    }
    .box-btn button{
        border-radius: 10px;
        box-shadow:#7b8c86;
        margin-left: 32%;
        background-color:#407d61;
        height: 30px;
        color: white;
    }
    .box-btn a{
       color: white;
       text-decoration: none;
    }

.footer{
    padding: 0;
    align-items: center;
}
.box-contacto {
    margin-left: 40%;
}
.box-contacto p{
    margin-top: 0px;
    margin-bottom: 15px;
    font-size: 20px;
}
.box-rsociales{
    margin-left: 30%;
    font-style: italic;
    margin-top: 0px;
}
.box-rsociales a{
    padding-bottom: 10px;
    font-size: 20px;
}




   